{% extends "layout.html" %}
{% block content %}
<div class="card-group">
    <div class="card bg-light m-2 border">
        <form action="" method="post">
            {{ mdf_form.hidden_tag() }}
            <h5 class="card-header">Get from Game</h5>
            <div class="card-body">
                {{ get_form.game_id.label(class="form-control-label") }}
                {% if get_form.game_id.errors %}
                {{ get_form.game_id(class="form-control form-control-sm is-invalid mb-2") }}
                <div class="invalid-feedback mb-2">
                    {% for error in get_form.game_id.errors %}#
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ get_form.game_id(class="form-control form-control-sm mb-2") }}
                {% endif %}

                {{ get_form.submit(class="btn btn-outline-dark btn-sm") }}
            </div>
        </form>
    </div>
    <div class="card bg-light m-2 border">
        <h5 class="card-header">Bet/Raise sizes:</h5>
        <div class="card-body ">
            <p class="mb-0">
                1/3 Pot: <strong>{{ third }}</strong> <br>
                1/2 Pot: <strong>{{ half }}</strong> <br>
                3/4 Pot: <strong>{{ threeq }}</strong> <br>
                1/1 Pot: <strong>{{ psb }}</strong>
            </p>
        </div>
    </div>
    <div class="card  bg-light m-2 border">
        <h5 class="card-header">Min. Defense Frequency</h5>
        <div class="card-body">
            <p class="mb-0">
                Min. Defense Frequency: <strong>{{ mdf }}</strong> <br>
                Alpha: <strong>{{ alpha }}</strong>
            </p>
        </div>
    </div>
    <div class="card bg-light m-2 border">
        <h5 class="card-header">Game Details:</h5>
        <div class="card-body">
            <p class="mb-0">
                Game ID:<strong> {{ scraper.id }} </strong><br>
                Situation:<strong> {{ scraper.sit_name }} </strong><br>
                Player 1:<strong> {{ scraper.players[0] }} </strong><br>
                Player 2:<strong> {{ scraper.players[1] }} </strong><br>
                Current Street:<strong> {{ scraper.history.last_street }} </strong><br>
                Current Bet:<strong> {{ scraper.last_bet }}</strong> <br>
                Player to act: <strong>{{ scraper.hero }}</strong> <br>
                Currently to call: <strong>{{ scraper.to_call }}</strong>
            </p>
        </div>
    </div>
</div>
{% endblock content %}