{% extends "layout.html" %}
{% block content %}
<div class="card mb-2">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='Logo-flat.svg' ) }}" class="card-img-top" alt="RvR-Fans-Logo">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">Why RvR?</h4>
                <p class="card-text">
                    Ever wonder what "playing your range" actually means? There is not a single better way to experience this than actually playing your whole range versus another one. And this is exactly what RvR is. Not only do you get see you whole Range in a certain spot, you get actually play it!-> Go and try if yourself! Play
                    <a href="http://www.rangevsrange.com">Range vs Range</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}